<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="What's it to you, pal?">
    <meta name="author" content="Bob the fictional guy">

    <title><%= TrelloSummaries.Title.title %></title>
    <link rel="stylesheet" href="/css/trellosummaries.css?12231">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/trellos?ids=3c5Waky0,HRvP7Lfu,JosUzd2L">See those Trellos!!!</a></li>
        </ul>
        <span class="logo"></span>
      </div>

      <%= @inner %>

      <div class="footer">
        <p><a href="http://cultivatehq.com">Cultivate</a></p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
